@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Goldman", sans-serif; */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background-color: #202428;
}
*::-webkit-scrollbar-thumb {
  background-color: #364044;
  border-radius: 100px;
  border: 3px solid #202428;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-5 h-5 rounded-[50%] bg-[#486072] cursor-pointer;
  }
  .slider-thumb::-moz-range-thumb {
    @apply appearance-none w-5 h-5 rounded-[50%] bg-[#486072] cursor-pointer;
  }
}
